.circle{
    width:4rem;
    height:4rem;
    background:white;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom:2rem;
    border-radius: 100%;
    
}
.circle::before{
    content: "";
    border-radius:100%;
    background-image:linear-gradient(to bottom, #87e6fb,#ffc05c 100%);
    z-index:-1 ;
    position: absolute;
    top:-8px;
    left:-8px;
    bottom:-8px;
    right:-8px;
    box-shadow:var(--boxShadow);
}
.achievement span:nth-of-type(2){
    color:var(--orange);
}

